<template name="about">
  <div class="wrapper">

  <header>
	<h1>Shoutbox</h1>
		
	{{> loginButtons}}
	{{> menu }}
  </header>


  <div id="about" class="about">
		{{#markdown}}## Shoutbox
Shoutbox jest projektem zaliczeniowym przedmiotu Architektury i technologie systemów internetowych. 
Strona internetowa składa się z:
   - Aplikacji typu 'shoutbox' pozwalającej na umieszczanie tekstu przez wielu używkowników w czasie rzeczywistym
   - Podstrony 'About' opisującej projekt

### Projekt
Projekt powstał w ramach rozpoznania nowego frameworka do tworzenia aplikacji przeglądarkowych Meteor.
Uruchomienie projektu sprowadza się do wykonania komend w folderze źródłowym:
```sh
$ curl https://install.meteor.com/ | sh
$ meteor
```

### Kompatybilność
Framework meteor nie zapewnia na dzień dzisiejszy stabilnej możliwości renderowania HTML po stronie serwera, więc wyświetlenie strony zależy w 100% od javascriptowych możliwości przeglądarki.

### Możliwości
W stworzonej aplikacji można dodawać tekst, rejestrować się, logować, zmieniać hasło, oraz moderować (usuwać) wstawione wypowiedzi, korzystając z konta moderatora. Aby je utworzyć, należy stworzyć konto o adresie **as@as.as**. W przypadku istnienia konta, należy się zalogować używając hasła asasas.
## Meteor
Framework meteor stanowi zestaw bibliotek opartych na MongoDB oraz autorski Distributed Data Protocol.

### Trasowanie
Warto zaobserwować trasowanie z wykorzystaniem biblioteki iron-router w pliku client/main.js. 
```js
Router.route('/',function(){
  this.render('home');
});
Router.route('/about',function(){
  this.render('about');
});
```

### Szablony
W kodzie trasowania można zauważyć żądanie wyrenderowania szablonów. Szablony we frameworku meteor obsługiwane są przez autorską bibliotekę Blaze, pozwalającą na modularne kontrolki oraz bezbolesną integrację javascriptu.
### JS u klienta
Metody wykorzystywane w szablonie mogą zostać umieszczone w następujący sposób:
```js
import './shout.html';
Template.shout.helpers({
  isModerator() {
	return Meteor.user() && 
		moderators.indexOf(Meteor.user().username) > -1;
  },
});
```
Po wykonaniu tego kodu, metoda isModerator() dostępna jest do użycia w pliku .html.
{{/markdown}}

	</div>	
	
  </div>
</template>
