<template name="home">
  <div class="wrapper">

    <header>
	  <h1>Shoutbox</h1>
		
	  {{> loginButtons}}
	  {{> menu }}
    </header>


	<div id="shouts">
	  <div class="shout-input">
	    <form class="new-shout">
          <input type="text" name="text" placeholder="Type to shout" />
	    </form>
      </div>
	  
	  <div class="shouts-list">
		<ul>
		{{#each shouts}}
		  {{> shout}}
		{{/each}}
		</ul>
	  </div>

	</div>	
	
  </div>
</template>
