<template name="shout">
  <li>  
    {{#if isModerator}}
      <button class="delete">&times;</button>
	{{/if}}
    <span class="text" title="{{createdAt}}"><strong>{{username}}</strong>: {{text}}</span>
  </li>
</template>
